
body{
    background-image: url("https://i.pinimg.com/564x/28/bf/5f/28bf5fa5dc785c34df2caca551422719.jpg");
    background-size: 1400px 700px;
    
}


.countdown{
    position: absolute;
    bottom: 20px;
    left: 35%;
}


th{
    width: 50px;
    padding: 10px 20px 10px 20px ;
    font-size: x-large;
}
td{
    width: 50px;
    font-size: x-large;
    
    padding: 10px 20px 10px 40px ;

}
    tr:hover {
    background-color: #c3e6e5;}