.main-portion {
  width: 100%;
}

/* LOgin page styling */

.mainbox {
  width: 40%;
  margin: 100px 25% 100px 25%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid;
  height: 400px;
  border-radius: 20px;
}

.mainbox-head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  background-color: rgb(280, 147,147);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.mainbox-head h1 {
  width: 60%;
  padding-left: 70px;
}
.mainbox-head .link {
  color: blue;


}
.mainbox-head .link i{
  padding: 10px;
  transition: 0.4s ease-in-out;
}
.mainbox-head .link i:hover {
  cursor: pointer;
  /* border: 2px solid; */
  border-radius: 10px;
  transform: rotate(360deg);
  
}

.mainbox-inputs{
  display: block;
  align-items: center;
  width: 80%;
  /* background-color: blue; */
  margin: 0 auto;
}
.mainbox-inputs .input{
  
  /* background-color: brown; */
  
  width: 60%;
  margin: 0 auto;
  font-size: 22px;
}

.mainbox-inputs .input input{
  height: 30px;
  border: 2px solid;
  outline: none;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 22px;
}



.msg {
  width: 100%;
  background-color: rgb(280, 147,147);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.msg h2{
  font-size: 14px;
}



.btn{
  margin: 0 auto;
  width: 250px;
  
}

.btn input{
  background-color: rgb(280, 147,147);
  width: 80%;
  margin: 0 auto;
  
  border-radius: 10px;
  font-size: larger;
}




@media screen and (max-width: 970px) {
  body {
    background-color: lightgreen;
  }
 
  .mainbox {
    width: 70%;
    margin: 100px 15% 100px 15%;
    height: 400px;
    border-radius: 20px;
  }
  .mainbox-inputs{
    padding-left: 5%;
    width: 80%;
    /* background-color: blue; */
    margin: 10px 10px 10px 10px;
  }




  .mainbox-inputs .input input{
    width: 100%;
    font-size: 22px;
  }

  .mainbox-head h1 {
    width: 50%;
    padding-left: 50px;
  }


  
/* .btn{
  margin: 10px 5;
  width: 70%;
} */
}

@media screen and (max-width: 520px) {
  body {
    background-color: lightskyblue;
  }
 
  .mainbox {
    width: 80%;
    margin: 50px 5% 50px 5%;
    height: 400px;
    border-radius: 20px;
  }
  .mainbox-inputs{
    padding-left: 3%;
    width: 80%;
    /* background-color: blue; */
    margin: 10px 10px 10px 10px;
  }




  .mainbox-inputs .input input{
    width: 100%;
    font-size: 18px;
  }

  .mainbox-head h1 {
    width: 50%;
    padding-left: 30px;
  }

}